.header {
    overflow: hidden;
    background-color: #b7c590;
    padding: 20px 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 2px;
    font: 20px "Georgia";
    font-weight: 400;
    text-decoration: none;
    border-radius: 4px;
}

.header a:hover {
    background-color: rgba(159, 171, 125, 0.3);
    color: black;
}

.header a.active {
    background-color: rgba(159, 171, 125, 0.65);
    color: white;
}

.header-right {
    float: right;
}
